<div class="container mt-5 mb-3 book">
  <span>New Book</span>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="row" >
        <div  class="col-md-6">
          <label for="inputTitle4">Title</label>
          <input type="text" class="form-control mt-2" id="title" formControlName="title">
        </div>
        <div class="col-md-6">
          <label for="name">Author Name</label>
          <input type="text" class="form-control mt-2" id="authorName" formControlName="authorName">
        </div>
      </div>
      <div class="row">
        <div class="form-group" class="col-md-6">
          <label for="name">Description</label>
          <input type="text" class="form-control mt-2" id="description" formControlName="description">
        </div>
    
        <div class="form-group" class="col-md-6">
          <label for="name">Published</label>
          <input type="text" class="form-control mt-2" id="published" formControlName="published">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 mt-4">
          <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Submit</button>
        </div>
      </div>
    </form>
</div>
